body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #a70968, #140c8b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
}

.title-container {
    background: rgba(34, 49, 63, 0.8);
    /* Dark blue color */
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
}

.title {
    font-size: 2.5rem;
    margin: 0;
    color: #fff;
}

.score-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.score {
    background: rgba(26, 188, 156, 0.9);
    /* Emerald color */
    padding: 1rem;
    border-radius: 10px;
    width: 100px;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
}

.score h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    color: #fff;
}

.count {
    font-size: 2rem;
    color: #fff;
}

.move {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.movesleft {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #ff6347;
}

.options {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.options button {
    background: rgba(231, 76, 60, 0.8);
    /* Alizarin color */
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
}

.options button:hover {
    background: rgba(192, 57, 43, 0.8);
    /* Darker Alizarin color */
}

.result {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
}

.reload {
    display: none;
    background: rgba(46, 204, 113, 0.8);
    /* Nephritis color */
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
}

.reload:hover {
    background: rgba(39, 174, 96, 0.8);
    /* Darker Nephritis color */
}



.name-container {
    position: fixed; /* Change position to fixed */
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #a70968, #140c8b);
    padding: 0.5rem 1rem; /* Adjust padding to make the container smaller */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
    z-index: 999; /* Ensure it appears above other content */
}

.name {
    font-size: 1.5rem; /* Adjust font size */
    color: rgb(243, 235, 238);
    text-shadow: 0 2px 3px rgb(230, 9, 134);
    animation: glow 1.5s infinite alternate;
    margin: 0;
}
